PUID=1000
PGID=1000
TZ=Europe/Bucharest

DATA_DIR=
MEDIA_DIR=
BULK_DIR=

DOCKER_GATEWAY=172.19.0.1
PIHOLE_WEBPASSWORD=
PIHOLE_IPV6=

TS_AUTHKEY=
TS_ROUTES=
IMMICH_DB_PASSWORD=

VAULTWARDEN_DOMAIN=
VAULTWARDEN_SIGNUPS=