version: "3"
services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_DATA_PATH}/heimdall:/config
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - VAAPI_DRIVER=iHD
      - DISPLAY=:0
    devices:
      - /dev/dri
    volumes:
      - ${DOCKER_DATA_PATH}/jellyfin:/config
      - ${JELLYFIN_SHOWS_PATH}:/data/tvshows
      - ${JELLYFIN_MOVIES_PATH}:/data/movies
      - ${JELLYFIN_LIVE_PATH}:/data/live
    ports:
      - "8096:8096"
      - "7359:7359/udp"
      - "1900:1900/udp"
    restart: unless-stopped

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "81:80/tcp"
    environment:
      TZ: '${TZ}'
      WEBPASSWORD: '${PIHOLE_WEBPASSWORD}'
    volumes:
      - '${DOCKER_DATA_PATH}/pihole/etc-pihole:/etc/pihole'
      - '${DOCKER_DATA_PATH}/pihole/etc-dnsmasq.d:/etc/dnsmasq.d'
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=82
    volumes:
      - ${DOCKER_DATA_PATH}/qbittorrent:/config
      - ${TORRENTS_PATH}:/downloads
    ports:
      - "82:82"
      - "6881:6881"
      - "6881:6881/udp"
    restart: unless-stopped

  syncthing:
    image: lscr.io/linuxserver/syncthing:latest
    container_name: syncthing
    hostname: syncthing
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_DATA_PATH}/syncthing:/config
      - ${MEDIA_PATH}:/data
    ports:
      - "8384:8384"
      - "22000:22000/tcp"
      - "22000:22000/udp"
      - "21027:21027/udp"
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_DATA_PATH}/sonarr:/config
      - ${JELLYFIN_SHOWS_PATH}:/tv
      - ${TORRENTS_PATH}:/downloads
    ports:
      - "8989:8989"
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_DATA_PATH}/radarr:/config
      - ${JELLYFIN_MOVIES_PATH}:/movies
      - ${TORRENTS_PATH}:/downloads
    ports:
      - "7878:7878"
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_DATA_PATH}/prowlarr:/config
    ports:
      - "9696:9696"
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_DATA_PATH}/bazarr:/config
      - ${JELLYFIN_MOVIES_PATH}:/movies
      - ${JELLYFIN_SHOWS_PATH}:/tv
    ports:
      - 6767:6767
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    ports:
      - "8191:8191"
    environment:
      - LOG_LEVEL=info
    restart: unless-stopped

  jdownloader-2:
    image: jlesage/jdownloader-2
    container_name: jdownloader
    ports:
      - "5800:5800"
    volumes:
      - ${DOCKER_DATA_PATH}/jdownloader:/config:rw
      - ${JDOWNLOADER_PATH}:/output:rw
    restart: unless-stopped

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - TZ=${TZ}
    ports:
      - 5055:5055
    volumes:
      - ${DOCKER_DATA_PATH}/jellyseerr:/app/config
    restart: unless-stopped

  portainer:
    image: portainer/portainer-ee:latest
    container_name: portainer
    restart: always
    ports:
      - "8000:8000"
      - "9444:9443"
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKER_DATA_PATH}/portainer:/data

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_API_VERSION=1.52
    command: >
      --cleanup
      --interval 3600

  excalidraw:
    image: excalidraw/excalidraw:latest
    container_name: excalidraw
    ports:
      - "86:80"
    volumes:
      - ${DOCKER_DATA_PATH}/excalidraw/:/data
    restart: unless-stopped

  stirlingpdf:
    container_name: stirlingpdf
    image: docker.stirlingpdf.com/stirlingtools/stirling-pdf:latest-fat
    ports:
      - '85:8080'
    volumes:
      - ${DOCKER_DATA_PATH}/stirlingpdf/trainingData:/usr/share/tessdata
      - ${DOCKER_DATA_PATH}/stirlingpdf/extraConfigs:/configs
      - ${DOCKER_DATA_PATH}/stirlingpdf/customFiles:/customFiles/
      - ${DOCKER_DATA_PATH}/stirlingpdf/logs:/logs/
      - ${DOCKER_DATA_PATH}/stirlingpdf/pipeline:/pipeline/
    environment:
      - DISABLE_ADDITIONAL_FEATURES=false
      - LANGS=en_US
    restart: unless-stopped

  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    container_name: mealie
    ports:
      - 9925:9000
    volumes:
      - ${DOCKER_DATA_PATH}/mealie:/app/data
    environment:
      - ALLOW_SIGNUP=true
      - BASE_URL=http://localhost:9925
    restart: unless-stopped

  prunemate:
    image: anoniemerd/prunemate:latest
    container_name: prunemate
    ports:
      - "7676:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKER_DATA_PATH}/prunemate/logs:/var/log
      - ${DOCKER_DATA_PATH}/prunemate/config:/config
    environment:
      - DOCKER_API_VERSION=1.52
      - PRUNEMATE_TZ=${TZ}
      - PRUNEMATE_TIME_24H=false
    restart: unless-stopped

  syncwave:
    image: syncwave/syncwave
    container_name: syncwave
    restart: unless-stopped
    ports:
      - '88:8080'
    volumes:
      - ${DOCKER_DATA_PATH}/syncwave:/data

  decluttarr:
    image: ghcr.io/manimatter/decluttarr:latest
    container_name: decluttarr
    restart: always
    environment:
      TZ: ${TZ}
      PUID: ${PUID}
      PGID: ${PGID}
      LOG_LEVEL: INFO
      TIMER: 10

      REMOVE_BAD_FILES: True
      REMOVE_FAILED_DOWNLOADS: True
      REMOVE_FAILED_IMPORTS: True
      REMOVE_METADATA_MISSING: True
      REMOVE_MISSING_FILES: True
      REMOVE_ORPHANS: True
      REMOVE_SLOW: False
      REMOVE_STALLED: False
      REMOVE_UNMONITORED: False
      SEARCH_BETTER: True
      SEARCH_MISSING: True

      SONARR: >
        - base_url: "http://192.168.0.2:8989"
          api_key: "${SONARR_API_KEY}"

      RADARR: >
        - base_url: "http://192.168.0.2:7878"
          api_key: "${RADARR_API_KEY}"

      QBITTORRENT: >
        - base_url: "http://192.168.0.2:82"
          username: "${QBITTORRENT_USERNAME}"
          password: "${QBITTORRENT_PASSWORD}"
          name: "qBittorrent"

  searx:
    container_name: searx
    volumes:
      - '${DOCKER_DATA_PATH}/searx:/etc/searx'
    ports:
      - '8080:8080'
    environment:
      - 'BASE_URL=http://localhost:8080/'
    image: searx/searx
    restart: unless-stopped
